body {
  background-color: #5286c1;
  margin: 0;
}

.navbar {
  background-color: cornflowerblue;
  padding: 5px 15px;
  margin-left: 50px;
  margin-right: 50px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0px 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
/*
.grid-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "israel flieger flieger man scheich"
    "israel f1 tisch tisch scheich";
}

.grid1 {
  grid-area: israel;
}
.grid2 {
  grid-area: flieger;
}
.grid3 {
  grid-area: man;
}
.grid4 {
  grid-area: scheich;
}
.grid5 {
  grid-area: tisch;
}
.grid6 {
  grid-area: f1;
}
img {
    scale: auto;
}

/*.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "side nav nav"
    "side main main"
    "img main main"
}*/
